@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Niconne&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'component/nav_bar';
@import 'component/intro.scss';
@import 'component/elipse';
@import 'component/skills';
@import 'component/education';
body {
  background-color: #0A0A0A;
  font-family: "Old Standard TT", serif;
  color: #fcfcfc;
}



.fix {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: #C7C7C7;
    }
  }
}

.relative {
  position: relative;
  width: 100%;
}

@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  body {
    overflow-x: hidden;
  }

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  body {
    overflow-x: hidden;
  }

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
