@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Niconne&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Lavishly+Yours&family=Monsieur+La+Doulaise&family=Niconne&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'component/nav_bar';
@import 'component/intro.scss';
@import 'component/elipse';
@import 'component/skills';
@import 'component/education';
@import 'component/scroll';
@import 'component/project';
@import 'component/contact';


body {
  // width: 100vw;
  background: black;
  font-family: "Old Standard TT", serif;
  color: #fcfcfc;
  // overflow: hidden;
}



.fix {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;

    a {
      text-decoration: none;
      color: #C7C7C7;
    }
  }
}

.relative {
  position: relative;
  width: 100%;
}

@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

//   html, body {
//   width: 100vw;
//   background: black;
//   font-family: "Old Standard TT", serif;
//   color: #fcfcfc;
//   overflow: hidden;
//  }

 .op-0 {
  display: none;
 }

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  .op-0 {
  display: none;
 }
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}
