@function ilustrator($width, $ratio) {
  @return proportion($width, $ratio ) * (1 + (1 / 20))
}

.project {
  position: relative;
  bottom: 50px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;

  h2 {
    font-size: 3rem;
    color: white;
    margin-top: 0;
  }
}

.project-column {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ilustrator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: ilustrator(45vw, 1.5);


  .glass {
    height: proportion(45vw, 0.75);
    overflow: hidden;
    border-radius: 20px;
    

    img {
      border-radius: 20px;
    }
  }
}

#handmade {
  display: inline;
  text-align: center;
  background: #0F1342;
  img {
    position: relative;
    width: 50%;
    height: auto;
    top: 10vh;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 5px rgba(255, 255, 255, 0.4);

  }

  h3 {
    position: relative;
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.4);
    top: 2vw;
  }
}

#carbnb {
  background: #4B122A;
  display: inline;
  text-align: center;

  img {
    position: relative;
    width: 85%;
    height: auto;
    top: 10vw;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 5px rgba(255, 255, 255, 0.4);
  }

  h3 {
    position: relative;
    font-size: 1.25rem;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-shadow: 0px 0px 13px rgba(255, 255, 255, 0.4);
    top: 2vw;
  }
  
}
.project-description {
  padding-top: 7vh;
  top: 0;
  width: 35%;
  height: proportion(45vw, 0.75);
  overflow-wrap: break-word;
  text-align: start;

  h3 {
    margin-top: 0;
    font-family: "Open Sans", sans-serif;
  }

  p {
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
  }
}




.handmade-description {
  h3 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #5409DA;
  }
}

.carbnb-description {
  h3 {
    font-size: 1.5rem;
    margin-top: 0;
    color: #4B122A;
  }
}

.cursor-follower {
  position: fixed;
  width: 90px;
  height: 90px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  color: black;
  font-weight: bolder;
  z-index: 9999;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
}